<html>
<head>
    <meta charset="utf-8">
    <title>主页</title>
    <style>
        body {
            width: 980px;
            margin: auto;
        }
        h1 {
            text-align: center;
        }
        .apply {
            border: 1px solid;
            width: 80%;
            margin: auto;
            text-align: center;
        }
        .applybtn {
            width: 32%;
        }
        .container {
            margin: 40px auto 150px auto;
        }
    </style>
    <script>
        function controldisplay() {
            var cookies = document.cookie.split(";");
            var userid;
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].split("=");
                if ("id" == cookie[0]) {
                    if (!cookie[1].match(/^1[0-9]*/)) {
                        var applys = document.getElementsByClassName("hidden");
                        for (var j = 0; j < applys.length; j++) {
                            applys[j].style.display = "none";
                        }
                    }
                }
            }
        }
        function createLinks(father, type, id, level, workshop) {
            var li = document.createElement('li');
            var a = document.createElement('a');
            a.setAttribute('href', "home/query?id=" + id + "&level=" + level);
            if (level == 1) {
                a.innerHTML = "一级（段）通信线路及设备停机要点审批表(车间:" + workshop + ")";
            } else if (level == 2) {
                a.innerHTML = "二级（段）通信线路及设备停机要点审批表(车间:" + workshop + ")";
            } else {
                a.innerHTML = "三级（段）通信线路及设备停机要点审批表(车间:" + workshop + ")";
            }
            li.appendChild(a);
            father.appendChild(li);
        }
    </script>
</head>
<body onload="controldisplay()">
<%- include('head')%>
<%- include('notif') %>
</body>
</html>