<link href="/stylesheets/navstyle.css" rel="stylesheet">
<div class="navdiv htmleaf-container">
	<nav class="animenu">
	  <ul class="animenu__nav">
		<li>
		  <a href="/home">首页</a>
		</li>
		<li>
		  <a href="#" onclick="return false">要点申请<i></i></a>
		  <ul class="animenu__nav__child">
			<li><a href="/home/apply?type=first">一级（段）通信线路及设备停机要点审批表</a></li>
			<li><a href="/home/apply?type=second">二级（段）通信线路及设备停机要点审批表</a></li>
			<li><a href="/home/apply?type=third">三级（段）通信线路及设备停机要点审批表</a></li>
		  </ul>
		</li>
		<li>
		  <a href="/home/list">要点审批</a>
		</li>
		<li>
		  <a href="/home/query" onclick="">要点查询</a>
		</li>
		<li>
		  <a href="/home/logout" onclick="">退出登录</a>
		</li>              
	  </ul>
	</nav>
</div>
<h1 id="navhead">通信线路及设备停机要点审批</h1>