<div style="text-align: center;margin: auto" class="ui grid">
    <div class="four wide column"></div>
    <div class="eight wide column">
        <% if (popup) { %>
        <% if (success) { %>
        <script>
            alert("<%- success %>");
        </script>
        <% } %>
        <% if (error) { %>
        <script>
            alert("<%- error %>");
        </script>
        <% } %>
        <% } else { %>
        <% if (success) { %>
        <div id="successNotif" class="ui success message">
            <p><%- success %></p>
        </div>
        <% } %>

        <% if (error) { %>
        <div id="errorNotif" class="ui error message">
            <p><%- error %></p>
        </div>
        <% } %>
        <% } %>
    </div>
</div>