<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>管理中心</title>
    <style>
        body {
            margin: auto;
        }

        .container {
            margin: 40px auto 150px auto;
            width: 80%;
        }
    </style>
    <link rel="stylesheet" href="/stylesheets/cxcalendar.css">
    <script src="/javascripts/jquery-1.9.1.js"></script>
    <script src="/javascripts/calendar.js"></script>
</head>
<body>
<%- include('rootnav') %>
<%- include('notif') %>
<div class="container">
</div>
</body>
</html>